---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import Lucky from '../assets/images/dogs/Lucky.png'

const metadata = {
  title: 'Über uns',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Willkomen bei"
    image={{
      src: Lucky,
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      NapfGenuss <br />
      <span class="text-primary dark:text-white highlight"> Aus Liebe zum Hund</span>
    </Fragment>

    <Fragment slot="subtitle"> Jeder Napf erzählt eine persönliche Geschichte </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Warum ist Hundefutter von der Stange?"
    subtitle="Mit dieser Frage begann <span class='font-semibold'> unsere Reise, und NapfGenuss</span> wurde geboren. Unsere Mission ist klar: Wir möchten Hunden nicht einfach nur Futter bieten, sondern eine maßgeschneiderte Ernährung, die gesund, nachhaltig und unkompliziert ist."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Individuelle Rezepturen',
        description:
          'Wir haben erkannt, wie wichtig eine richtige Ernährung für die Gesundheit jedes Hundes ist. Da jeder Hund verschieden ist, muss das Futter darauf angepasst sein.',
        icon: 'tabler:settings-spark',
      },
      {
        title: 'Hochwertige Zutaten, keine Kompromisse',
        description:
          'Unser Premium Hundefutter besteht aus natürlichen, nährstoffreichen Zutaten und verzichtet komplett auf künstliche Zusatzstoffe oder Füllstoffe.',
        icon: 'tabler:star',
      },
      {
        title: 'Nachhaltigkeit im Fokus',
        description:
          'Wir sind uns der Verantwortung bewusst, welche die Ernährung in der heutigen Zeit von jedem hat - auch von unseren geliebten Vierbeinern. Daher achten wir auch umweltschonende und lokale Produktion.',
        icon: 'tabler:brand-envato',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Das richtige für jeden Hund"
    subtitle="Egal ob <span class='font-semibold'> Welpe, Senior, besonders aktiv oder mit speziellen Bedürfnissen </span> – bei uns findet Ihr Hund genau das Futter, das perfekt auf individuellen Anforderungen und Vorlieben abgestimmt ist."
    callToAction={{
      text: 'Jetzt Futter entdecken!',
      href: '/products',
    }}
    items={[
      {
        title: 'Vierbeiner Liebe',
        description: 'Unsere Vierbeiner sind schon lange mehr als Haustiere - sie sind ein Familienmitglied. Wir möchten diesen Familienmitgliedern auch die Gesundheit ermöglichen, die sie verdienen.',
        icon: 'tabler:hearts',
      },
      {
        title: 'Entwickelt von Experten',
        description:
          'Das Problem, dass jeder Hund eine individuelle Ernährung bedarf ist schon lange klar - unsere Experten haben das Problem gelöst.',
        icon: 'tabler:chart-pie-4-filled',
      },
      {
        title: 'Die Liebe, die ankommt',
        description:
          "Durch viele zufriedene, gesunde Hunde und dadurch glückliche Besitzer sind wir uns sicher - <span class='font-semibold'> unsere Liebe zu jedem Hund kommt an! </span>",
        icon: 'tabler:checks',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Wir helfen Ihnen weiter"
    tagline="Fragen oder Probleme?"
    columns={2}
    items={[
      {
        title: 'Schreiben Sie mit uns!',
        description:
          'Stellen Sie Fragen oder klären Sie ganz einfach Ihre Probleme bei der Nutzung von NapfGenuss mit unseren Experten via E-Mail.',
        icon: 'tabler:messages',
        callToAction: {text:"E-Mail schreiben", href:"/contact", variant:"secondary"}
      },
      {
        title: 'Rufen Sie an!',
        description: 'Unsere Experten von NapfGenuss helfen Ihnen auch gerne via Telefon weiter. Rufen Sie an oder vereinbaren Sie eine Rückruf.',
        icon: 'tabler:headset',
        callToAction: {text:"Anrufen", href:"/contact", variant:"secondary"}
      },
    ]}
  />
</Layout>
