---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import Process from '~/components/widgets/Process.astro';

import DynamicExamples from '~/components/widgets/DynamicExamples.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import Rating from '~/components/ui/rating.astro'


import HandyMockUp from 'src/assets/images/MockUps/HandyMockUp.png';
import BagMockUp from 'src/assets/images/MockUps/MockUpProductLucky.png';
import BagsMockUp from 'src/assets/images/MockUps/MockupTriple.png';

import Prices from '~/components/widgets/Pricing.astro';
import { headerData } from '~/navigation';
import { count, table } from 'console';

// 'https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'

const metadata = {
  title: 'NapfGenuss Hundefutter',
};
---

<Layout metadata={metadata}>
  <!-- first Hero2 Widget with picture and buttons ******************* -->

  <Hero2
    tagline="Unsere Vision"
    actions={[
      { variant: 'primary', target: '_self', text: 'Jetzt Futter entdecken!', href: '/contact' },
      { target: '_self', text: 'Mehr erfahren', href: '/about' },
    ]}
    image={{
      src: BagsMockUp,
      alt: 'NapfGenuss Hero Image',
    }}
  >
    <Fragment slot="title">
      Zukunft des Hundefutters <br /><span class="text-accent dark:text-white highlight">individuell, einfach</span>
      <span class="text-secondary dark:text-white highlight">nachhaltig</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        So einzigartig wie Ihr Hund - so sollte auch sein <span class="font-semibold">Futter</span> sein.
      </span>
      Bei uns erhält Ihr Vierbeiner eine komplett personalisierte Ernährung, perfekt abgestimmt auf seine Bedürfnisse.
    </Fragment>
  </Hero2>

  <Rating 
  bg = 'bg-accent',
  fullStars = 4.23
  />

  <!-- Content Widget **************** -->

  <Content
    title="NapfGenuss"
    subtitle="<span class='font-semibold'>Maßgeschneiderten Rezepturen, natürlichen Zutaten und umweltfreundlicher Verpackung</span> - so machen wir Füttern einfach und unkompliziert."
    isReversed
    items={[
      {
        title: 'Individuell und flexibel',
        description:
          'Maßgeschneiderte Rezepte für die spezifischen Bedürfnisse Ihres Hundes (Alter, Rasse, Aktivitätsniveau).',
      },
      {
        title: 'Gesundheitsfördernd',
        description: 'Unterstützt die optimale Gesundheit und das Wohlbefinden Ihres Hundes.',
      },
      {
        title: '100% natürliche Zutaten & Transparenz',
        description: 'Keine künstlichen Zusätze, nur transparent hochwertige, nachhaltige und frische Inhaltsstoffe.',
      },
    ]}
    image={{
      src: 'https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_1280.jpg',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Maßgeschneiderter Futterplan <br /><span class="text-2xl">Bestmögliche Ernährung für Ihren Vierbeiner</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Die Meinung unserer Kunden"
    testimonials={[
      {
        testimonial: `Wir haben mit NapfGenuss endlich das perfekte Futter für unseren Hund gefunden. Die individuelle Beratung und die hochwertigen Zutaten haben uns überzeugt. Unser Hund liebt das Futter und wir sind froh, dass er endlich das bekommt, was er verdient.`,
        name: 'Sarah Hansen',
        job: 'mit Hund Lucky',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Lucas Müller Image',
        },
      },
      {
        testimonial: `Mein Hund Berta hat eine Allergie und wir haben lange nach dem richtigen Futter gesucht. Mit NapfGenuss haben wir endlich das perfekte Futter gefunden. Berta geht es besser und wir sind froh, dass wir uns für`,
        name: 'Lucas Müller',
        job: 'mit Hund Berta',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `Ich bin selbstständig und habe wenig Zeit, mich um die Ernährung meines Hundes zu kümmern. Mit NapfGenuss habe ich endlich eine Lösung gefunden, die mir Zeit spart und meinem Hund gut tut.`,
        name: 'Mark Friedrich',
        job: 'mit Hund Max',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Friedrich Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Jetzt selbst überzeugen',
      href: '/search',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- So funktioniert's ******************* -->

  <Process
    title="So funktioniert's"
    subtitle="Erfahren Sie, wie einfach es ist, Ihren Hund mit NapfGenuss zu ernähren"
    process={[
      {
        counter: '1',
        subtitle: 'Profilerstellung',
        tagline: 'Registrieren Sie sich und geben Sie die Daten Ihres Hundes ein.',
        src: HandyMockUp,
        alt: 'Log-In und Profil erstellen',
      },
      {
        counter: '2',
        subtitle: 'Analyse',
        tagline: 'Unser System analysiert die Daten und erstellt einen idnividuellen Futterplan für Ihren Hund.',
        src: 'https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?q=80&w=2212&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
        alt: 'Analyse der Daten',
      },
      {
        counter: '3',
        subtitle: 'Lieferung',
        tagline: 'Erhalten Sie Ihr individuelles Hundefutter bequem nach Hause geliefert.',
        src: BagMockUp,
        alt: 'Lieferung',
      },
    ]}
    CTA="Mehr erfahren!"
  />
  
  <!-- Examples Widget ******************* -->
  <DynamicExamples />

  <!-- Pricing Widget *******************
  <Prices
    title="Unsere Preise"
    subtitle="Zahle nur für das, was du brauchst"
    prices={[
      {
        title: 'Basis',
        subtitle: 'Grundlegende Verpflegung',
        price: 5,
        period: 'pro Kilogram',
        items: [
          {
            description: 'Einmalige Konfiguration',
          },
          {
            description: 'Lieferung alle 8 Wochen',
          },
          {
            description: 'Regional erzeugte Zutaten',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
      },
      {
        title: 'Standard',
        subtitle: 'Gute Verpflegung',
        price: 69,
        period: 'pro Kilogram',
        items: [
          {
            description: 'Futteranpassung alle 8 Wochen',
          },
          {
            description: 'Zweimonatliche Lieferung',
          },
          {
            description: 'Nutzung von KI Tierarzt',
          },
          {
            description: 'Regional erzeugte Zutaten',
          },
          {
            description: '',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Premium',
        subtitle: 'Optimale Verpflegung',
        price: 199,
        period: 'pro Monat',
        items: [
          {
            description: 'Monatliche Futteranpassung',
          },
          {
            description: 'Monatliche Lieferung',
          },
          {
            description: 'Nahrungsergänzungsmittel und Medizin',
          },
          {
            description: 'Nutzung von KI Experte',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Oft gestellte Fragen"
    items={[
      {
        title: 'Warum macht es Sinn, einen Futterplan zu individualisieren?',
        description:
          'Jeder Hund ist unterschiedlich. Ein individueller Futterplan berücksichtigt die spezifischen Bedürfnisse Ihres Hundes und sorgt für eine optimale Ernährung - sei es eine Unverträglichkeit oder eine Krankheit, die mithilfe der richtigen Ernährung gelindert werden kann.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Nach welchen Standards wird das Futter produziert?',
        description: `Wir produzieren unser Futter nach den höchsten Qualitätsstandards. Unsere Zutaten sind regional und nachhaltig erzeugt und wir verzichten auf künstliche Zusätze. Bei Fragen kontaktieren Sie uns gerne und wir helfen Ihnen weiter.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Kann ich auch ein Abo-Modell abschließen?',
        description:
          'Zur Zeit haben wir noch kein Abo-Modell. Allerdings können Sie ein Produkt nach Bedarf bestellen und die Lieferung individuell anpassen.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Was passiert, wenn sich die Bedürfnisse meines Hundes ändern?',
        description: `Kein Problem! Sie können die Daten Ihres Hundes jederzeit aktualisieren und wir passen den Futterplan entsprechend an.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Sie haben Fragen?"
    subtitle="Wir freuen uns auf Ihre Nachricht"
    callToAction={{
      text: 'Jetzt kontaktieren',
      href: '/',
    }}
    items={[
      {
        title: 'E-Mail',
        description: 'info@napfgenuss-shop.de',
        icon: 'tabler:mail',
      },
      {
        title: 'Anrufen',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Social Media',
        description: '@napfgenuss-shop',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Unser hundeernährungsblog"
    information={`Lesen Sie die neuesten Beiträge zu Hundeernährung, Gesundheit und Wohlbefinden.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
