---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Dogly Hundefutter',
};
---

<Layout metadata={metadata}>
  <!-- first Hero2 Widget with picture and buttons ******************* -->

  <Hero2
    tagline="Dogly's Mission"
    actions={[
      { variant: 'primary', target: '_self', text: 'Jetzt anmelden', href: '/contact'},
      { target: '_self', text: 'Mehr erfahren', href: '/about' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?q=80&w=2788&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      Zukunftsweisende Hundeernährung: <br /> individualisiert, <span class="text-accent dark:text-white highlight"
        >einfach</span
      > nachhaltig<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Ihr Hund ist einzigartig - genau wie sein <span class="font-semibold">Futter</span> sein sollte. </span
      >
      Bei Dogly bieten wir eine vollständig personalisierte Ernährung, die perfekt auf die Bedürfnisse Ihres Vierbeiners abgestimmt ist.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    title="Warum Dogly?"
    subtitle="Entdecken Sie, wie Dogly die Welt des Hundefutters revolutioniert, indem wir personalisierte und nachhaltige Ernährungslösungen anbieten, die den individuellen Bedürfnissen Ihres Hundes gerecht werden."
    isReversed
    items={[
      {
        title: 'Was bedeutet das?',
        description:
          'Mit Dogly bekommt Ihr Hund ein individuell angepasstes Futter, das perfekt auf seine Gesundheit, sein Alter, seine Aktivität und seine Geschmackspräferenzen abgestimmt ist.',
      },
      {
        title: 'Vorteile',
        description: 'Einzigartig gutes Hundefutter, perfekt auf die Bedürfnisse Ihres Hundes. Damit fördern Sie die Gesundheit ihres Hundes, leisten einen wichtigen Beitrag zur Nachhaltigkeit und das alles ohen Mehraufwand für Sie.',
      },
    ]}
    image={{
      src: 'https://cdn.pixabay.com/photo/2020/05/13/21/03/dog-food-5168940_1280.jpg',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Maßgeschneiderter Futterplan <br /><span class="text-2xl">Bestmögliche Ernährung durch Individualisierung</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Was bedeutet das?',
        description: `Das individualisierte Futtermittel bietet die optimale Gurndlage für eine gesunde Ernährung. Unsere Expteren von Dogly können dir zudem helfen, durch Nahrunsgergänzung und Medizin, deinen Hund munter zu machen.`,
      },
      {
        title: 'Vorteile',
        description: `Ensuring a cohesive and user-centric design for your SaaS website. <br /> Effectively communicate complex SaaS features through visual aids, animations, and interactive elements. <br /> Prioritize user needs and pain points through well-structured layouts and clear navigation. <br /> Encourage visitors to take action with strategically placed CTAs. <br /> Ensures your SaaS website works seamlessly across all devices.`,
      },
    ]}
    image={{
      src: 'https://cdn.pixabay.com/photo/2022/10/20/19/31/dog-7535633_1280.jpg',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Beste Gesundheit<br /><span class="text-2xl">Einzigartig gutes Hundefutter</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Was bedeutet das?',
        description: `Your portfolio is your masterpiece, and AstroWind is your canvas. Whether you're a designer, photographer, artist, or any other creative professional, AstroWind empowers you to showcase your work with elegance and sophistication. Tailored to highlight your creative projects, AstroWind's templates offer a visually immersive experience that lets your portfolio shine.`,
      },
      {
        title: 'Vorteile',
        description: `Serve as a captivating backdrop to showcase your creative work, capturing attention and leaving a lasting impression. <br /> Tailor your portfolio to reflect your unique style and artistic vision. <br /> Prioritizes visuals, allowing you to present your work in high-resolution detail that draws viewers into your creations. <br /> Enables seamless navigation for effortless portfolio exploration.`,
      },
    ]}
    image={{
      src: 'https://cdn.pixabay.com/photo/2022/05/30/14/05/paw-7231300_1280.jpg',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Einfach & Zuverlässig <br /><span class="text-2xl">Alle Vorteile, kein Mehraufwand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Prices
    title="Unsere Preise"
    subtitle="Zahle nur für das, was du brauchst"
    prices={[
      {
        title: 'Basis',
        subtitle: 'Grundlegende Verpflegung',
        price: 29,
        period: 'pro Monat',
        items: [
          {
            description: 'Einmalige Konfiguration',
          },
          {
            description: 'Lieferung alle 8 Wochen',
          },
          {
            description: 'Regional erzeugte Zutaten',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
      },
      {
        title: 'Standard',
        subtitle: 'Gute Verpflegung',
        price: 69,
        period: 'pro Monat',
        items: [
          {
            description: 'Futteranpassung alle 8 Wochen',
          },
          {
            description: 'Zweimonatliche Lieferung',
          },
          {
            description: 'Nutzung von KI Tierarzt',
          },
          {
            description: 'Regional erzeugte Zutaten',
          },
          {
            description: '',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Premium',
        subtitle: 'Optimale Verpflegung',
        price: 199,
        period: 'pro Monat',
        items: [
          {
            description: 'Monatliche Futteranpassung',
          },
          {
            description: 'Monatliche Lieferung',
          },
          {
            description: 'Nahrungsergänzungsmittel und Medizin',
          },
          {
            description: 'Nutzung von KI Experte',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Abschließen',
          href: '#',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Oft gestellte Fragen"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
