---
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Image from '~/components/common/Image.astro'

import { headerData } from '~/navigation';
import { Icon } from 'astro-icon/components';

import Bowl from '../assets/images/kibbles/Bowl.png'

import WrapperIngredients from '~/components/widgets/WrapperIngredients.astro';


const metadata = {
  title: 'Produkte',
};
---
<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Anmelden',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- HERO -->

  <Hero2
    actions={[
      { target: '_self', text: 'Jetzt zusammenstellen', href: '/products' },
    ]}
    image={{
      src: Bowl,
      alt: 'NapfGenuss Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-secondary dark:text-white highlight">NapfGenuss</span>
      <span class="text-accent dark:text-white highlight">Futter</span><br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Das steckt in unserem <span class="font-semibold">Hundefutter</span> drin - überzeugen Sie sich selbst.
      </span>
    </Fragment>
  </Hero2>
  
    <!-- Scroll Indicator -->
    <div class="hidden md:inline absolute bottom-20 left-1/2 transform -translate-x-1/2">
      <a href="#scroll">
      <div class="flex items-center justify-center w-12 h-12 bg-accent rounded-full shadow-lg animate-bounce">
        <Icon name="tabler:chevron-down" class="text-primary w-6 h-6" />
      </div>
      <div class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 text-gray-500 text-xs">
        Zutaten
      </div>
    </a>
    </div>

  <div id="scroll"><WrapperIngredients />
  </div>

  <!-- <Kibbles
    title="Die perfekte Mischung braucht's"
    tagline="7 Sorten, alles was dein Hund braucht"
    kibble={[
      { title: 'Nummer 1', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 2', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 3', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 4', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 5', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 6', desc: '100% Gemüse Vitamin B', img: Kibble01 },
      { title: 'Nummer 7', desc: '100% Gemüse Vitamin B', img: Kibble01 },
    ]}
  /> -->