---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';
import Timeline from '~/components/ui/Timeline.astro';

import KibbleRawFood from 'src/assets/images/kibbles/RawFood01.png';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="So funktioniert's"
    title="Transparenz und Technik"
    subtitle="<span class='font-bold'>Der Weg zu maßgeschneidertem Hundefutter</span> <br> Unsere Plattform kombiniert modernste Technologie mit wissenschaftlich fundierten Erkenntnissen, um eine perfekt abgestimmte Ernährung für deinen Hund zu entwickeln."

    actions={[{ variant: 'primary', target: '_blank', text: 'Jetzt zusammenstellen', href: '/search' }]}
    image={{
      src: KibbleRawFood,
      alt: 'So funktioniert NapfGenuss',
    }}
  />
   <!-- Features2 Widget ************** -->

   <Features2
   title="So macht <span class='text-primary'> NapfGenuss </span> dein Leben einfacher"
   subtitle="Diese 3 Schritte erklären wir auf dieser Seite"
   columns={3}
   items={[
     {
       title: 'Profilerstellung',
       description:
         'Unser benutzerfreundlicher Konfigurator erfasst präzise Details über Ihren Hund, um ein ...',
       icon: 'tabler:user-circle',
       callToAction: {text:'Mehr lesen', variant:'link', href:"#"}
     },
     {
       title: 'Der Algorithmus',
       description:
         'Sobald das Profil deines Hundes erstellt ist, analysiert...',
       icon: 'tabler:adjustments-filled',
       callToAction: {text:'Mehr lesen', variant:'link', href:"#"}
     },
     {
       title: 'Produktion',
       description:
         'Sobald die Rezeptur feststeht, beginnt die Herstellung in einem ...',
       icon: 'tabler:settings-spark',
       callToAction: {text:'Mehr lesen', variant:'link', href:"#"}
     },
   ]}
 />
<!-- Timeline -->
<Steps
    title="Gesundheitliche Probleme"
    tagline="Unser Sysmtem berücksichtigt individuelle"
    subtitle="Für eine optimale Gesundheit integriert der Konfigurator eine große Vielzahl an gesundheitlichen Problemen, die bei Hunden oftmals vorkommen."
    isReversed={true}
    items={[
      {
        title: 'Verdauungsprobleme',
        icon: 'healthicons:kidneys',
      },
      {
        title: 'Gelenkprobleme',
        icon: 'healthicons:joints',
      },
      {
        title: 'Haut- und Fellprobleme',
        icon: 'healthicons:cancerous-cell-nuclei',
      },
      {
        title: 'Blasenprobleme',
        icon: 'healthicons:blood-drop-24px',
      },
      {
        title: 'Stress und Aggression',
        icon: 'tabler:flame-filled',
      },
      {
        title: 'Zahnprobleme',
        icon: 'healthicons:artificial-intelligence',
      },
      {
        title: 'Allergien',
        icon: 'healthicons:gluten',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1536816579748-4ecb3f03d72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Optimale Versorgung mit Vitaminen und Nährstoffen',
        description:
          'Fördert die Gesundheit von Haut, Fell und Immunsystem. Unsere Rezepturen sind reich an Vitaminen und Nährstoffen, die die Gesundheit Ihres Hundes unterstützen.',
        icon: 'tabler:wand',
      },
      {
        title: 'Vorbeugend gegen Beschwerden',
        description:
          'Unterstützt Gelenke, Verdauung und allgemeine Vitalität. Unsere Rezepturen sind speziell entwickelt, um die Gesundheit Ihres Hundes zu fördern und Beschwerden vorzubeugen.',
        icon: 'tabler:settings',
      },
      {
        title: 'Für Jung und Alt',
        description:
          'Angepasste Rezepturen für jede Lebensphase deines Hundes',
        icon: 'tabler:presentation',
      },
      {
        title: 'Individuell abgestimmt',
        description:
          'Berücksichtigt Allergien, Unverträglichkeiten und besondere Bedürfnisse. Unsere Rezepturen sind individuell abgestimmt auf die spezifischen Bedürfnisse Ihres Hundes.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>
  
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Start exploring',
        href: '/',
      },
    ]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
