---
const posts = await Astro.glob('../content/post/*.md');
---

<h1>Test</h1>
<p>Anzahl gefundener Posts: {posts.length}</p>
<ul>
  {posts.map(post => (
    <li>
      <h3>Post Details:</h3>
      <ul>
        <li>Filename: {post.file}</li>
        <li>URL: {post.url}</li>
        <li>Frontmatter: {JSON.stringify(post.frontmatter, null, 2)}</li>
      </ul>
    </li>
  ))}
</ul>
